@let isNew = layout() === "new";

<div
  class="client-pay-fields__row"
  [class.client-pay-fields__row--new]="isNew"
  [class.client-pay-fields__row--edit]="!isNew"
>
  <to-select
    label="¿Crédito otorgado?"
    [options]="yesNoOptions()"
    [(value)]="payHasCredit"
  />
  @if (creditGranted()) {
    <to-input
      label="Días de crédito"
      type="text"
      [placeholder]="isNew ? 'Ej. 30' : ''"
      [(value)]="payCreditDays"
    />
  }
</div>
@if (creditGranted()) {
  <to-input
    label="Límite o volumen de crédito (Alerta)"
    [placeholder]="isNew ? 'Ej. 5 MMXN, por definir con dirección…' : ''"
    [(value)]="payCreditAmount"
  />
}
<div
  class="client-pay-fields__row"
  [class.client-pay-fields__row--new]="isNew"
  [class.client-pay-fields__row--edit]="!isNew"
>
  <to-select
    label="Método de pago preferido"
    placeholder="Opcional"
    [options]="paymentMethodOptions()"
    [(value)]="payDefaultPaymentMethod"
  />
</div>
